@import "../utilities/general.css";

.logo-container {
margin: auto;
}

.logo {
    width: 50px;
    height: auto;
    padding: 0px;
    margin: 5px;
}

.header {
    position: fixed;
    top: 0px;
    height: 8vh;
    z-index: 5000;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 1px grey;
    width: 100%;
    margin: 0px;
    align-content: center;
    text-align: center;
    justify-content: center;
    font-size: 1.125em;
}

.header>.menu-item {
    padding: 10px;
    text-align: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.header>.menu-item>i {
    font-size: 1.5em;
}

.header>.menu-item>a,
.header>.menu-item>.with-badge>a,
.header>.menu-item>a:hover {
    color: black;
    text-decoration: none;
}

.header>.exit>a,
.header>.exit>a:hover {
    color: #FF6B6B;
    text-decoration: none;
}

.flaticon-smart-cart:before,
.flaticon-smart-cart:after {
    font-size: 30px;
}
