@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css");
@import "../fonts/vazir/fonts.css";
@import "../fonts/fontawesome/css/all.css";
@import "../fonts/icons/flaticon.css";

body {
    background-color: #F7FFF7;
    direction: rtl;
    font-family: "Vazir";
}


.title {
    text-align: center;
    border-bottom: 1px solid;
}
.row.redSection {
    height: 150px;
    width: 100%;
    background-color: #FF6B6B;
    margin: auto;
    align-content: center;
    text-align: right;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

.flaticon-smart-cart:before,
.flaticon-smart-cart:after {
    font-size: 30px;
}

.page-container {
    padding: 0;
    margin-bottom: 20px;
}

.dataInCol {
    margin: auto;
    padding-right: 0px;
}

.username {
    font-size: 32px;
}

.iconInCol {
    text-align: left;
    padding-left: 0%;
}

.icon-badge {
    position: absolute;
    top: 6px;
    right: 0px;
    background-color: #4ECDC4;
    padding-bottom: 1px;
    border-radius: 3em;
}

.with-badge {
    display: inline-block;
    position: relative;
    padding: 2px 5px;
}

.fluid {
    width: 100%;
    padding-right: 0%;
    padding-left: 0%;
    margin-right: 0%;
    margin-left: 0%;
}

.content-section {
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0%;
}

.content {
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 120PX;
    border-radius: 20px;
    border: 1px solid grey;
    background-color: white;
}

.nav-link.active {
    box-shadow: -1px 2px 9px 0px grey;
    background-color: #FF6B6B !important;
    padding: 15px 60px 15px 60px;
    font-size: 18px;
}

.nav-link {
    box-shadow: -1px 2px 9px 0px grey;
    background-color: #FFFFFF;
    color: black;
    padding: 15px 60px 15px 60px;
    font-size: 18px;
}

.flaticon-minus:before,
.flaticon-minus:after,
.flaticon-plus:before,
.flaticon-plus:after {
    font-size: 15px;
    text-align: center;
}

