@import "../utilities/general.css";

.foodParty-item {
  /* padding: 0 40px; */
  margin: 5px 10px;
  user-select: none;
  cursor: pointer;
  border: none;
  background-color: white;
  box-shadow: 0px 0px 10px 1px grey;
  border-radius: 5px;
  margin-top: 12px;
  margin-bottom: 12px;
  width: 220px;
  position: relative;
  height: 215px;
}
.foodParty-item-wrapper.active {
  border: 1px blue solid;
}
.foodParty-item.active {
  border: 1px green solid;
}

.scroll-foodParty-arrow {
  padding: 20px;
  cursor: pointer;
}

.horizontal-scroll::-webkit-scrollbar{
  display: none;
}

.horizontal-scroll {
  width: 100%;
  z-index: 10;
  margin-top: 20px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 10px 1px grey;
  height: 240px;
  display: flex;    
  flex-wrap: nowrap;
  overflow-x: auto;
}



.details{
  text-align: start;
  padding-right: 20px;
}
.restaurant-name-det{
  text-align: center;
  font-size: 20px;
  padding-left: 15px;
  
}

.food-image-det {
  width: 100px;
  height: 100px;
  border-radius: 5px;
}

.food-name-det{
  font-size: 22px;
  font-weight: 200;
  text-align:right;
  display: inline;
  padding: 10px;

}
.food-star {
  align-self: center;
  font-size: 12px;
  padding-right: 0;
  color: #ffc107;
  display: inline;
}
.dashed-line{
  margin-top: 10px;
  border-top: 1.5px dashed grey;
  width: 100%;
}

.food-det{
  font-size: 12px;
  color: grey;
  padding:10px;
}

.food-price-det {
  font-size: 16px;
  padding-right: 10px;
  padding-bottom: 10px;
}


.button-det{
  font-size: 15px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  background-color: #4ECDC4;
  border: 0px;
  border-radius: 5px;
  /* margin: 5px; */
}

.food-image{
  border-radius: 8px;
  width: 72px;
  height:72px;
  margin: 10px;
}

.food-name{
  font-size: 15px;
  margin: 10px;
  margin-right: 0px;
  text-align: start;
}

.price{
  text-align: center;
}

.food-old-price{
  color: grey;
  text-decoration-line: line-through;
  text-align: center;
}

.food-popularity{
  font-size: 14px;
  margin: 8px;
  margin-right: 0px;
  text-align: start;

}

.prices{
  position: absolute;
  bottom: 80px;
  text-align: center;
  margin: auto;
}

.restaurantName{
  position: absolute;
  bottom: 8px;
  margin: auto;
  padding-right: 3em;
  font-size: 15px;
}

.dashed-line{
  border-top: 2px dashed grey;
  position: absolute;
  bottom: 30px;
}

.buy{
  border-radius: 10px;
  color: white;
  background-color: #4ECDC4;
  font-size: 12px;
  box-shadow: none;
}

.no-buy{
  border-radius: 10px;
  color: white;
  background-color: grey;
  font-size: 12px;
}

.existance{
  border-radius: 10px;
  color: rgb(135, 157, 147);
  background-color: #F7FFF7;
  box-shadow: 0px 1px 2px 1px rgb(135, 157, 147);
  font-size: 12px;
}

.buttons{
  position: absolute;
  bottom: 35px;
  width: 100%;
  margin: auto;
}