@import "../utilities/general.css";

.search-box{
    margin-top: -20px;
    text-align: center;
    background-color: white;
    height: fit-content;
    width: 100%;
    border-radius: 5px;
    padding: 0%;
    position: relative;
    box-shadow: 0px 0px 10px 1px grey;
}
.search-box-item{
    padding: 5px;
}
.search-botton{
    background-color: #ffe66dd6;
    color: #1A535C;
    width: 100%;
    /* margin: 5px; */
    border-radius: 8px;
}
.home-title{
    font-size: 25px;
    text-align: center;
    border-bottom: black solid ;
    width: 120px;
    color: #1A535C;
    justify-content: center;
}