@import '../utilities/general.css';

.restaurantsList{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0%;
    width: 100%;
    padding-right: 0px;
    margin-bottom: 50px;
}

.restaurantItem{
    background-color: white;
    width: 155px;
    height: fit-content;
    box-shadow: 0px 0px 10px 1px grey;
    margin: 0px;
    margin-bottom: 20px;
    margin-right: 25px;
    text-align: center;
}

.logoRes{
    width: 100px;
    height: 100px;
    margin: 8px;
}

.nameRes{
    font-size: 12px;
    font-weight: bold;
    margin:5px;
}

.btnRes{
    background-color: #ffe66d;
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 8px;
}