@import '../utilities/general.css';
.cart {
    background-color: white;
    padding: 6px;
    margin-right: 20px;
    margin-left: 20px;
    box-shadow: 0px 0px 10px 1px grey;
    height: fit-content;
}

.cart-content {
    border: 2px dashed grey;
    border-radius: 20px;
    width: 90%;
    border-width: 2px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    padding-top: 20px;
}


.cart-title {
    color: black;
    border-color: black;
    font-size: 20px;
    font-weight: bold;
    width: 90px;
    margin: 0 auto;
    padding-top: 20px;
}


.total-price {
    text-align: center;
    margin-right: 0px;
}

.cart-food-name {
    padding-right: 10%;
    text-align: start;
    font-size: 19px;
}

.cart-foods-cost {
    text-align: center;
}

.flaticon-minus:before,
.flaticon-minus:after,
.flaticon-plus:before,
.flaticon-plus:after {
    font-size: 15px;
    margin: 5px;
}
.flaticon-minus:before,
.flaticon-minus:after {
    color: red;
}

.flaticon-plus:before,
.flaticon-plus:after {
    color: green;
}

.cart-btn-info{
    background-color: #4ECDC4;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.butten-col {
    text-align: center;
}

.food-price-cart{
    color: grey;
    font-size: 14px;
    margin: 5px;
    
}