@import '../utilities/general.css';

.content-header{
  width: 100%;
    height: 270px;
    margin: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: #FF6B6B;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.cover{
    background-image: linear-gradient(rgba(255, 0, 0, 0.45), rgba(247, 5, 5, 0.38)), url("../resources/cover-photo.jpg");
}

.cover-content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
}
  
.cover-logo{
    height: 130px;
    margin: 20px;
}

.flaticon-phone:before,
.flaticon-phone:after,
.flaticon-card:before,
.flaticon-card:after,
.flaticon-mail:before,
.flaticon-mail:after {
    font-size: 25px;
    color: #FFFFFF;
}

.flaticon-account:before,
.flaticon-account:after {
    font-size: 45px;
    color: #FFFFFF;
}