@import "../utilities/general.css";

.orders
{
    margin: 20px;
    margin-bottom: 45px;
    margin-top: -7px;
}

.order {
    border: 1px solid grey;
    border-radius: 8px;
    margin: 20px;
    
}

.col-num, .ordering-restaurant{
    border-left: 1px solid grey;
    padding: 10px;
    font-size: 16px;
}

.col-md.order-status{
    display: inline;
    margin: 7px;
    padding: 5px;
    border-radius: 5px;
    margin-left: 5em;
    font-size: 12px;
    margin-right: 5em;
}
.col-xl.order-status{
    margin: 7px;
    margin-right: 5em;
    margin-left: 5em;
    border-radius: 5px;    
    font-size: 12px;
}
.delivering{
    background-color: #c2f8c3;
    color: green;
}

.finding-delivery
{
    background-color: #aff8f7f5;
    color: #1A535C;
}



.input-section {
    padding: 20px;
    padding-left: 40px;
    padding-right: 16px;
}

.input-section > .form-group {
    margin: auto;
}

input[type=text] {
    background-color: #F1F1F1;
    border-radius: 8px;
}

.button-section>.btn.btn-info {
    padding: 5px;
    padding-left: 2em;
    padding-right: 2em;
    background-color: #4ECDC4;
}

.button-section {
    padding-left: 1em;
    padding-right: 1em;
    margin: auto;
}

.order-details.container {
    text-align: center;
    font-weight: bold;
    border: solid;
    border-width: 0.01rem;
}

.order-details > .order-details-header.row {
    background-color: rgba(158, 158, 158, 0.23);
    color: gray;
    font-weight: normal;
    border: solid;
    border-width: 0.01rem;
}

.order-details-title {
    margin-bottom: 2rem;
    margin-top: 1rem;
    margin-right: 18%;
    text-align: center;
    margin-left: 18%;
    font-size: 1.75rem;
    border-bottom: solid;
    border-bottom-width: 0.01rem;
    padding-bottom: 1rem;
}

.order-details-cell {
    border: 0.01rem solid #c7c7c7;
    padding: 5px;
}

.order-details-price {
    text-align: left;
    font-weight: bold;
    margin-top: 0.5rem;
}

.modal-content {
    border-radius: 20px;
}

.delivered{
    margin: 7px;
    margin-right: 3em;
    margin-left: 3em;
    font-size: 13px;
    background-color: #ffe66d;
    color: black;
    box-shadow: 0px 1px 0px 0px grey;
}

.hidden {
    display: none;
}