@import '../utilities/general.css';

.details{
    text-align: start;
    padding-right: 20px;
}
.restaurant-name-det{
    text-align: center;
    font-size: 20px;
    padding-left: 15px;
    
}

.food-image-det {
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.food-name-det{
    font-size: 22px;
    font-weight: 200;
    text-align:right;
    display: inline;
    padding: 10px;

}
.food-star {
    align-self: center;
    font-size: 12px;
    padding-right: 0;
    color: #ffc107;
    display: inline;
}
.dashed-line{
    margin-top: 10px;
    border-top: 1.5px dashed grey;
    width: 100%;
}

.food-det{
    font-size: 12px;
    color: grey;
    padding:10px;
}

.food-price-det {
    font-size: 16px;
    padding-right: 10px;
    padding-bottom: 10px;
}


.button-det{
    font-size: 15px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background-color: #4ECDC4;
    border: 0px;
    border-radius: 5px;
    margin: 5px;
}