@import "../utilities/general.css";
.restaurant-logo {
    height: 180px;
    width: 180px;
    margin-top: -4.8em;
    border-radius: 17px;
    border: 6px solid #FFFFFF;
    box-shadow: 0px 0px 10px 1px grey;
}

.restaurant-info {
    text-align: center;
    align-content: center;
    width: 100%;
    height: 100px;
}

.restaurant-info.restaurant-name {
    margin-top: 1em;
    font-size: 24px;
    height: 50px;
}

.content-section {
    align-content: center;
    justify-content: center;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    border-right: 4px dashed #b6d6be;
    padding-left: 0%;
    width: 100%;
    padding-right: 0px;
    margin-bottom: 50px;
}

.menu>div {
    background-color: white;
    position: relative;
    margin: 11px;
    margin-left: 0px;
    margin-right: 20px;
    width: 222px;
    height: 270px;
    box-shadow: 0px 0px 10px 1px grey;
    align-items: center;
    align-content: center;
    text-align: center;
    padding-top: 20px;
}


.food-image {
    width: 90px;
    height: 80px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.button {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: #696868;
    background-color: #ffe66dd6;
    border: 0px;
    border-radius: 5px;
    margin: 5px;
    position: absolute;
    right: 15%;
    bottom: 5%;

}

.food-price {
    color: grey;
    font-size: 14px;
    margin: 5px;
    position: absolute;
    right: 35%;
    bottom: 25%;
}

.food-name,
.total-price {
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 12px;
    padding-right: 0px;
}

.food-number {
    font-size: 12px;
    padding-top: 10px;
    padding-right: 0px;
    padding-left: 0;
    margin-left: -15px;
}

.button-not-exist {
    background-color: #d3d9df;
}



.menu-title {
    width: 120px;
    margin-top: 70px;
    font-size: 30px;
    color: #1A535C;
    margin-right: 53%;
    margin-bottom: 50px;
    border-color: #1A535C;
}




.food-info {
    flex-wrap: nowrap;
    align-content: center;
}


.line {
    border-top: 1.5px solid grey;
    /* margin-left: 60px; */
    margin-right: 17%;
    margin-top: 10px;
    margin-bottom: 10px;
    /* padding: 120px; */
    padding-bottom: 5px;
    padding-left: 57%;
    padding-right: 12%;
    padding-top: 0px;
}
