@import "../utilities/general.css";

footer {
    background-color: #1A535C;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #F7FFF7;
    padding: 10px;
    margin: 0%;
    box-shadow: 0px 0px 10px 3px grey;
}