@import "../utilities/general.css";

.lable{
    padding: 0%;
    padding-bottom: 20px;
    text-align: end;
}

.button-section{
   margin-bottom : 20px;
}

/* .gloginbtn {
    width: fit-content;
    margin: auto;
    display: inline;
    padding-top: 5px;
}

div#g-signin2 {
    display: inline;
} */